
@font-face {
  font-family: "Inter-Light";
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-LightItalic";
  src: url("../fonts/Inter-LightItalic.woff2") format("woff2"),
    url("../fonts/Inter-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.woff2") format("woff2"),
    url("../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../fonts/EBGaramond.woff2") format("woff2"),
    url("../fonts/EBGaramond.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
