// Основные стили 
html,
body {
  font-weight: 400;
  height: 100%;
  width: 100%;
  line-height: 1;
  color: #1a1a1a;
  font-family: "Inter-Regular";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.container {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0px 15px;
}


body._hidden {
  overflow: hidden;
}

@media(min-width: 1100px) {
  .link:hover {
    text-decoration: underline;
  }
}

@import "header";

.page {
  padding: 0 0 40px;
}

.page__subscription {}

.subscription {}

.subscription__content {
  max-width: 800px;
  margin: 0px auto;
}

.subscription__text {
  display: flex;
  margin-bottom: 50px;
}

.subscription__left-elements {
  margin-right: 40px;
  max-width: 500px;
}

.subscription__name {
  font-family: "Inter-Medium";
  font-size: 25px;
  margin-bottom: 40px;
}

.subscription__items {
  margin-bottom: 50px;
}

.subscription__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.subscription__item-name {
  font-size: 18px;
  margin-right: 10px;
}

.subscription__item-description {
  font-family: "Inter-Light";
  font-size: 20px;
}

.subscription__note {
  font-size: 16px;
}

.subscription__right-elements {}

.subscription__active-items {
  >*:not(:last-child) {
    margin-bottom: 20px;
  }
}

.subscription__active {
  font-family: "Inter-Medium";
  font-size: 25px;
  margin-bottom: 40px;
  color: #A54949;
}

.subscription__active .ok {
  color: #28670A;
}

.subscription__active-item {
  font-size: 18px;
}

.subscription__button {
  font-size: 18px;
  background-color: #3c7c1f;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
}

.subscription__account-link {
  font-size: 20px;
  display: block;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.subscription__account-inputs {
  margin-bottom: 30px;
}

.subscription__account-input {
  width: 200px;
  height: 40px;
  border: 1px solid #3A5EA5;
  font-size: 16px;
  padding: 15px;
  display: block;
  background-color: transparent;
  border: 1px solid #3A5EA5;
  border-radius: 5px;
  color: #1a1a1a;

  &:focus {
    outline: solid #3A5EA5 1px;
    ;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &::placeholder {
    font-size: 14px;
  }
}

.subscription__account-button {
  font-size: 18px;
  background-color: #3A5EA5;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}



@media(min-width: 1100px) {
  .subscription__button {
    transition: all 0.5s ease 0s;

    &:hover {
      cursor: pointer;
      background-color: #529234;
    }
  }
}

@import "footer";

@media(max-width: 800px) {
  .page {
    padding: 0 0 40px;
  }

  .subscription__left-elements {
    margin-right: 10px;
    max-width: 400px;
  }

  .subscription__name {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .subscription__items {
    margin-bottom: 30px;
  }

  .subscription__item-name {
    font-size: 16px;
  }

  .subscription__item-description {
    font-size: 16px;
  }

  .subscription__note {
    font-size: 16px;
  }

  .subscription__right-elements {}

  .subscription__active {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .subscription__active-item {
    font-size: 16px;
  }
}

@media(max-width: 600px) {
  .page {
    padding: 40px 0;
  }

  .subscription__left-elements {
    margin-right: 10px;
    max-width: 150px;
  }

  .subscription__name {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Inter-Light";
  }

  .subscription__items {
    margin-bottom: 30px;
  }

  .subscription__item {
    flex-direction: column;

    >*:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .subscription__item-name {
    font-size: 14px;
    margin-right: 5px;
  }

  .subscription__item-description {
    font-size: 14px;
  }

  .subscription__note {
    font-size: 14px;
    width: 290px !important;
  }

  .subscription__active {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Inter-Light";
  }

  .subscription__active-items {
    >*:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .subscription__active-item {
    font-size: 14px;
  }

  .subscription__button {
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
  }

  .subscription__account-link {
    font-size: 16px;
  }

  .subscription__account-button {
    font-size: 16px;
    background-color: #3A5EA5;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
  }

}

@media(max-width: 400px) {
  .subscription__button {
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
  }
}