// Основные стили 
html,
body {
  font-weight: 400;
  height: 100%;
  width: 100%;
  line-height: 1;
  color: #1a1a1a;
  font-family: "Inter-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.container {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0px 15px;
}


body._hidden {
  overflow: hidden;
}


@import "header";

.page {
  padding-bottom: 50px;
}

.quote {
  max-width: 700px;
  margin: 0px auto;
  font-family: "Inter-LightItalic";
  font-size: 24px;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 5px solid #125A96;
  border-radius: 20%;
  padding: 50px 0;
}

.quote__img {
  position: relative;
  margin-right: 50px;
  width: 120px;
  height: 149px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.quote__words {
  max-width: 400px;
  margin: 0px auto 50px;
  line-height: 130%;
}

.quote__author {
  text-align: right;
}

.card {
  max-width: 700px;
  margin: 0px auto;
  padding: 50px;
  background-color: rgba(241, 198, 163, 0.2);
  border-radius: 20px;
}

.card__text {
  font-family: "Inter-LightItalic";
  font-size: 20px;
  color: #696A6D;
  margin-bottom: 50px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__left {
  margin-right: 20px;

  >*:not(:last-child) {
    margin-bottom: 50px;
  }
}

.card__question {
  font-family: "Inter-Light";
  font-size: 16px;
  width: 200px;
  line-height: 130%;
}

.card__word {
  font-family: "Inter-Light";
  font-size: 24px;
  letter-spacing: 12px;
  margin-bottom: 15px;
}

.card__description {
  font-family: "Inter-Regular";
}

.card__button {
  width: 200px;
  min-height: 45px;
  background-color: #D37C54;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  color: #f5f5f5;
  font-family: "Inter-Medium";
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: auto;
}


.card__right {
  display: flex;

  >*:not(:last-child) {
    margin-right: 50px;
  }
}

.card__right-items {}

.card__right-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55px;

  >*:not(:last-child) {
    margin-bottom: 5px;
  }
}

.card__right-item-number {
  font-size: 20px;
  font-family: "Inter-LightItalic";
  margin-right: 15px;
}

.card__right-item-symbol {}

.icon-ok {
  color: #979494;
  font-size: 12px;
}

.card-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-result__inner {
  text-align: center;
}

.card-result__title {
  font-family: "CrimsonText-Regular";
  font-size: 30px;
  margin-bottom: 60px;
}

.card-result__number {
  color: #D37C54;
  font-family: "DancingScript-Regular";
  font-size: 56px;
}

@import "footer";

@media(min-width: 1100px) {
  .link:hover {
    text-decoration: underline;
  }

  .card__word {
    cursor: pointer;
  }

  .card__button {
    cursor: pointer;
  }
}

@media(max-width: 800px) {

  .card {
    padding: 50px 30px 30px;
  }

  .card__content {
    flex-direction: column;
  }

  .card__left {
    margin-right: 0px;
    margin-bottom: 50px;
  }
}

@media(max-width: 600px) {
  .page {
    padding-top: 20px;
  }

  .quote {
    padding: 30px 10px;
  }

  .quote__img {
    width: 50px;
    height: 62px;
    margin-right: 20px;
  }

  .quote__words {
    max-width: 300px;
    margin: 0px auto 20px;
    line-height: 130%;
    font-size: 16px;
  }

  .quote__author {
    font-size: 18px;
  }

  .card {
    padding: 20px;
  }

  .card__question {
    text-align: left;
  }

  .card__word {
    margin-bottom: 15px;
    text-align: center;
  }

  .card__button {
    margin: 0px auto;
  }

  .card__right {
    >*:not(:last-child) {
      margin-right: 30px;
    }
  }

  .card__right-item {
    width: 40px;
  }

  .card__right-item-number {
    font-size: 16px;
    margin-right: 10px;
  }

  .icon-ok {
    font-size: 10px;
  }

  .card-result {
    padding-top: 30px;
    flex-direction: column;
  }

  .card-result__inner {
    margin-bottom: 30px;
  }

  .card-result__title {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .card-result__number {
    font-size: 36px;
  }
}

@media(max-width: 400px) {
  .page {
    padding-top: 0px;
  }

  .quote__words {
    max-width: 230px;
  }

  .card__left {
    width: 100%;
  }

}